.header{
  width: 100%;
  height: 30px;
  background-color: indianred;
}
p{
  color: blue;
}

span {
  padding: 5px;
text-align: center;
}
li{
    /* list-style: none; */
}
.content{
  background-color: gray;
  width:100;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  
  align-items: center;
}
form{
  font-size: 26px;
}
input{
  width: 50%;
  background-color:#fff;
  color:black;
  margin: 5px;
  font-size: 16px;
  border-radius: 3px;
  padding: 5px;
}
.delete{
  background-color: red;
  color: beige;
}
.update{
  background-color:green;
  color: beige;
}
.add{
  background-color: rgb(25, 0, 255);
  color: beige;
}
ol{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  border: 9px solid wheat;
  background-color:whitesmoke;
  /* display: none; */
}
.footer{
  width: 100%;
  height: 30px;
  background-color: hotpink;
}
h1{
  color: aquamarine;
}
h2{
  color: firebrick;
}
